@import url("./assets/fonts/stylesheet.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 52.5%;
  }
}

body {
  height: 100%;
  overflow: auto;
  width: 100%;
  font-size: 1.4rem;
  font-family: "metropolislight";
}

#root {
  height: 100%;
}
input {
  border-radius: 3px;
}
input:focus,
button:focus,
select:focus {
  outline: none;
}
button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/* li::before {
  content: "";
  border-radius: 100%;
  display: block;
  width: 8px;
  height: 8px;
  color: white;
  background: white;
  margin-right: 8px;
  margin-top: 8px;
  padding-right: 8px;
} */

/* li {
  display: flex;
  align-items: flex-start;
}

h1,
h2 {
  font-family: metropolisbold;
  line-height: 45px;
}

a {
  text-decoration: none;
}

option {
  color: black;
} */
